html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
}
ol,ul{
    list-style-type: none;
}
p{
    font-size: 14px;
    font-weight: normal;

}

.hr-style{
    border: 5px dotted red;
    border-bottom: none;
    width: 50px;
}
.hr-style1{
    border: 5px dotted #fff;
    border-bottom: none;
    width: 50px;
}
/* common css */


header{
    background-image: url(../img/pexels-cottonbro-6153354.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
   
    
}
.overlay{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    
   
}
.navbar{
    padding: 1% 10%;
    background-color: #C0C0C0;
    
    
}
.navbar-icon{
    color: red;
}
.nav-link{
    color: black;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}
.nav-link:hover{
   background:#898F9C;
   color: #fff;
   transform: scale(1.1);
   border-bottom: 1px solid red;
}
.banner-container{
    height: 100vh;
    margin-top: 150px;
    
    
}
.banner-container h1{
    font-size: 2.4rem;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 0px;
     
    
}
.banner-container h2{
    font-size: 2rem;
    padding-left: 5px;
    padding-right: 20px;
    
  
    
    
}
.name h1{
    color: red;
}
.name a{
    color: red;
    font-size: 10px;
}
.banner-container span{
    font-size: 2.4rem;
    color: red;

}
.banner-container .btn{
    margin-left: 50px;
    background-color: red;
    margin-top: 20px;
    

}
.banner-container .btn:hover{
    background-color: rgb(167, 26, 26);
    
    

}
/* header end */

/* technology part */

.card-description{
    width: 100%;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  

}
.card-description a{
    text-decoration: none;
    color: #000;
}
.html i:hover{
    color: rgb(238, 80, 7);
   
}
.css i:hover{
    color: blue;
   
}
.bootstrap i:hover{
    color: purple;
   
}
.meta i:hover{
    color: rgb(224, 13, 66);
   
}
.sass i:hover{
    color: rgb(247, 71, 100);
   
}
.wp i:hover{
    color: rgb(12, 141, 184);
   
}
.figma i:hover{
    color: rgb(224, 210, 13);
   
}
.git i:hover{
    color: rgb(233, 48, 23);
   
}
.js i:hover{
    color: yellow;
   
}
/* project */

.portfolio_item_part{
    position: relative;
    
}
.portfolio_item_part img{
    width: 100%;
}
.portfolio_item_part_overly{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgba(2, 2, 2, 0.911);
  transition: all linear .4s;
}
.portfolio_item_part_overly h3{
    color: #ffffff;
    font-size: 16px;
   font-weight: 700;
   font-family: 'Raleway', sans-serif;
   padding: 30px 20px 15px 20px;
   opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
}
.portfolio_item_part_overly p{
    color: #959595;
    font-size: 14px;
   font-weight: 400;
   font-family: 'Raleway', sans-serif;
   padding: 0px 20px;
   opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
    position: absolute;
   
}
.portfolio_item_part_overly p::before{
   position: absolute;
   content: '';
   width: 70px;
   height: 2px;
   background: #e5493a;
   left: 20px;
   top: 30px;
   transition: all linear .4s;
   opacity: 0;
   visibility: hidden;
}

.portfolio_item_part:hover .portfolio_item_part_overly{
    height: 100%;
}
.ccirle{
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 auto;
    background: #252525;
    border-radius: 50px;
    position: absolute;
    right: 50px;
    bottom: 10px;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
    
}
.portfolio_item_part:hover .ccirle{
    opacity: 1;
    visibility: visible;
}

.ccirle button{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    position: absolute;
    
}
.ccirle button:hover{
    color: #e5493a;
    
    
}
.ccirle a i{
    font-size: 14px;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    position: absolute;
}
/* ... */
.ccle{
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 auto;
    background: #252525;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
    transition: all linear .4s;
    
}
.portfolio_item_part:hover .ccle{
    opacity: 1;
    visibility: visible;
    color:blue;
    
}
.portfolio_item_part:hover .ccle{
    color: #e5493a;
    
}
.portfolio_item_part:hover .portfolio_item_part_overly p::before{
    opacity: 1;
    visibility: visible;
    
}
.portfolio_item_part:hover h3{
    opacity: 1;
    visibility: visible;
}
.portfolio_item_part:hover p{
    opacity: 1;
    visibility: visible;
}
.ccle a{
    display: inline-block;
    
}
.ccle a i{
    font-size: 14px;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    position: absolute;
}


.portfolio_btn a{
    display: inline-block;
    text-decoration: none;
    width: 170px;
    border-radius: 5px;
    background: #363636;
    color: #ffffff;
    font-size: 14px;
   font-weight: 400;
   border: 2px solid #363636;
    line-height: 50px;
    transition: all linear .4s;
    margin: 0px 10px;
    margin-top: 40px;
}
.portfolio_btn a:hover{
    background: #e5493a;
    border: 2px solid #e5493a;
}
/* project end */
/* footer part */
footer{
    padding: 1% 10%;
    background-color: black;
}
footer a{
    color: white;
    margin: 0 7px;
    text-decoration: none;
    

}
footer a:hover{
    color: red;
}

/* footer part end */